.accordion {
  @include vp-767 {
    padding: 0 25px;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.accordion--noborder-top {
  @include vp-767 {
    border-top: none;
  }
}

.accordion__header {
  @include vp-767 {
    padding: 15px 0;
    position: relative;
  }
}

.accordion__header::before {
  @include vp-767 {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    top: 43.6%;
    right: 0;
    background-color: #c4c4c4;
  }
}

.accordion__header::after {
  @include vp-767 {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    top: 43.6%;
    right: 0;
    transform: rotate(90deg);
    background-color: #c4c4c4;
  }
}

.accordion__content {
  @include vp-767 {
    display: none;
  }
}

.accordion.is-active .accordion__content {
  @include vp-767 {
    display: block;
  }
}

.accordion.is-active .accordion__header::after {
  @include vp-767 {
    display: none;
  }
}
