.footer-contacts {
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    width: 47.76%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.footer-contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-contacts__item {
  @include vp-1023 {
    margin-bottom: 9px;
  }
}

.footer-contacts__address address,
.footer-contacts__phone .phone__link {
  margin-bottom: 10px;
  font-family: $ff-main;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-contacts__address address {
  @include vp-1023 {
    margin-bottom: 12px;
  }

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.footer-contacts__phone .phone__link {
  @include vp-767 {
    margin-bottom: 10px;
  }
}

.footer-contacts__phone {
  display: flex;
  flex-direction: column;
}

.footer-contacts__phone .phone__link:hover {
  @include hover {
    color: $color-deep-sky-blue;
  }

  @include vp-1023 {
    @include hover-focus {

      color: rgba(255, 255, 255, 0.7);

      &.focus-visible:focus {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}

.footer-contacts__phone .phone__link:focus {
  @include focus {
    border-bottom: 1px solid $color-deep-sky-blue;
    outline: none;
  }
}

.footer-contacts__phone .phone__link:active {
  color: $color-deep-sky-blue;
  opacity: 0.7;
}
