.modal-form {
  width: 100%;
}

.modal-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.modal-form__item input,
.modal-form__item textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  color: $color-default-white;
  border: none;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
}

.modal-form__item textarea {
  padding: 25px 15px;
  margin-bottom: 35px;
  height: 155px;
}

.modal-form__item input::placeholder,
.modal-form textarea::placeholder {
  font-family: $ff-titles;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.modal-form__item input:hover,
.modal-form textarea:hover {
  @include hover {
    opacity: 0.6;
  }
}

.modal-form__item input:focus,
.modal-form textarea:focus {
  opacity: 0.6;
  outline: 2px solid $color-alice-blue;
  color: $color-default-white;
}

.modal-form__item input:active,
.modal-form textarea:active {
  background-color: $color-black-pearl;
  outline: 2px solid $color-default-white;
}

.modal-form__btn {
  width: 100%;
  padding: 13px 25px;
  margin-bottom: 20px;
  font-family: $ff-titles;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;
}

.modal-form__btn:hover {
  @include hover {
    background-color: $color-alice-blue;
    color: $color-black-pearl;
  }

  @include vp-1023 {
    @include hover-focus {
      background-color: $color-black-pearl;
      color: $color-default-white;

      &.focus-visible:focus {
        background-color: $color-black-pearl;
        color: $color-default-white;
        outline: none;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}

.modal-form__btn:focus {
  @include focus {
    background-color: $color-alice-blue;
    color: $color-black-pearl;
    outline: 3px solid $color-black-pearl;
  }
}

.modal-form__btn:active {
  background-color: $color-deep-sky-blue;
  color: $color-black-pearl;
  outline: 3px solid $color-alice-blue;
}

.modal-form__control-consent > input[type="checkbox"] + .control-consent__label::before {
  top: 0;
}

.modal-form__control-consent > input[type="checkbox"]:checked + .control-consent__label::after {
  top: 0;
  left: -0.5%;
}
